<div class="col-md-12">
	<h2> Borough Stats Comparison </h2>	
	<div class="graph-container">
		<svg id="parallel" xmlns='http://www.w3.org/2000/svg' width='100%' height='400px'>
		</svg>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h3> <small>Visualisation Information </small></h3>
		</div>
		<table class="table table-condensed">
			<th>
				<td>Boro</td>
			</th>
		</table>
	</div>
</div>
