<div class="col-md-12">
<br />
	<div class="row">
		<div class="col-md-12">
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 graph-container">
			<svg id="parallel" xmlns='http://www.w3.org/2000/svg' width='100%' height='680px'>
			</svg>
			
		</div>
	</div>
</div>