<div class="col-md-12">
<br />
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-10 map-container">
			<div style="height: 800px;" id="map"></div>
		</div>
		<div class="col-md-1">
		</div>
	</div>
</div>