// Place all the styles related to the parallel controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

svg {
  font-size: 14px;
}

.foreground path {
  fill: none;
  stroke-opacity: .5;
  stroke-width: 1.6px;
}

.foreground path.line-fade {
  stroke-opacity: .05;
}

.legend {
  font-size: 18px;
  font-style: oblique;
}

.legend line {
  stroke-width: 2px;
}

.line-l{
  stroke:#2171b5;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis line, .axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  cursor: move;
}

    