<div class="col-md-12">
	<h1>Welcome to Citylife</h1>
	<br/><br/>
	<div class="row">
		<div class="col-md-offset-2 col-md-8">
			<p style="font-size:16px;">
				Citylife is a system built as part of the 4th year group project, <em>A Framework for Location-aware Social Media Analytics</em> at the University of Warwick under the supervision of Dr. Matthew Leeke.
			</p>
			<p style="font-size:16px;">
				Citylife aims to provide city planners, legislators or other interested parties with a range of information to aid their decisions. It combines static, socio-econonomic factor datasets with live Tweet collection and sentiment analysis, presenting this data in a digestible and informative way. 
			</p>
			<p style="font-size:16px;">
				This project was developed by James Archbold, James Dickson, Andrew Willbourn and Matt Smith.
			</p>
			<p style="font-size:16px;">
				Use the sidebar to explore the framework visualisations. Hover over the <span class="glyphicon glyphicon-info-sign"></span> icon to get information about and instructions for each visualisation.
			</p>
		</div>
	</div>
	<br/><br/>

	<div class="row">
		<div class="col-md-offset-2 col-md-4" style="vertical-align:middle;">
			<br/><br/>
			<img src="<%= root_url%>assets/warwick.jpg" style="width:300px;"/>
		</div>
		<div class="col-md-4">
			<img src="<%= root_url%>assets/dcslogo.jpg" style="width:300px";/>
		</div>
	</div>

</div>